{% extends "green/base.html" %}
{% block content %}
 <div class="container" style="padding: 90px 130px 50px 130px" > 


    <center><h1>Política de cookies</h1></center>
    <h3>Qué son las cookies y para qué las usamos?</h3>
    <p>Una cookie o galleta informática es un pequeño archivo de información que se guarda en su navegador cada vez que visita nuestra página web.
La utilidad de las cookies es guardar el historial de su actividad en nuestra página web, de manera que, cuando la visite nuevamente, ésta pueda identificarle y configurar el contenido de la misma en base a sus hábitos de navegación, identidad y preferencias.
Una cookie es inofensiva, no contiene código malicioso o malintencionado (ej. virus, troyanos, gusanos, etc.) que pueda dañar su terminal (ordenador, smartphone, tableta, etc.), pero sí tiene cierto impacto sobre su derecho a la protección de sus datos, pues recoge determinada información concerniente a su persona (hábitos de navegación, identidad, preferencias, etc.).
.</p>
    <h3>¿Qué información guarda una cookie?</h3>
 
    <p>Las cookies no suelen recoger categorías especiales de datos personales (datos sensibles). Los datos que guardan son de carácter técnico, preferencias personales, personalización de contenidos, etc.</p>
    
    <h3>¿Qué tipo de cookies existen?</h3>
Con carácter general, existen cinco tipos de cookies:
<h4>Cookies técnicas</h4>
Son las cookies más básicas. Permiten al usuario la navegación a través de una página web, plataforma o aplicación y la utilización de las diferentes opciones o servicios que en ella existan como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la solicitud de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales.
<h4>Cookies de personalización</h4>
Son aquéllas que permiten al usuario acceder al servicio con algunas características de carácter general predefinidas en función de una serie de criterios en el terminal del usuario como por ejemplo serian el idioma, el tipo de navegador a través del cual accede al servicio, la configuración regional desde donde accede al servicio, etc.
<h4>Cookies de análisis</h4>
Son aquéllas que permiten al responsable de las mismas, el seguimiento y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas. La información recogida mediante este tipo de cookies se utiliza en la medición de la actividad de los sitios web, aplicación o plataforma y para la elaboración de perfiles de navegación de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de introducir mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.
<h4>Cookies publicitarias</h4>
Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el responsable haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado en base a criterios como el contenido editado o la frecuencia en la que se muestran los anuncios.
<h4>Cookies de publicidad comportamental</h4>
Son aquéllas que permiten la gestión, de la forma más eficaz posible, de los espacios publicitarios que, en su caso, el responsable haya incluido en una página web, aplicación o plataforma desde la que presta el servicio solicitado. Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.

    <h3>¿Qué son las cookies propias y las de terceros?</h3>
<h4>Cookies de propias</h4>
Las cookies propias son aquellas que se generan y gestionan por el propio responsable que presta el servicio solicitado por el usuario.
Cookies de terceros
Son aquellas que se generan por otras entidades distintas al propio responsable (servicios o proveedores externos, como por ejemplo Google).

    <h3>¿Qué tipo de cookies guarda nuestra página web?</h3>
A continuación, procedemos a relacionar el tipo de cookies que guarda nuestra página web y la finalidad de las mismas:<br><br>
<center>
<table>
  <tr>
    <th>Tipo de cookie</th>
    <th>Finalidad</th>
    <th>Cómo y cuando se guarda</th> 
   </tr>
   <tr>
     <td>Google Analytics</td>
     <td>Almacena cookies para poder elaborar estadísticas sobre el tráfico y volumen de visitas de esta web.</td>
     <td>Al utilizar este sitio web está consintiendo el tratamiento de información acerca de usted por Google.</td>
   </tr>
   

</table></center><br>
    <h3>¿Qué puedo hacer con las cookies?</h3>
Las cookies pueden ser borradas, aceptadas o bloqueadas, según desee, para esto sólo debe configurar convenientemente el navegador web.
En cualquier momento, puede impedir la instalación de cookies (bloqueo) en su equipo mediante la opción correspondiente de su navegador, pero en dicho caso no podremos asegurarle el correcto funcionamiento de las distintas funcionalidades de nuestra página web.
A continuación, le facilitamos los enlaces para la gestión y bloqueo de cookies dependiendo del navegador que utilice:<br>
<ul>
  <li>
    <a href="http://windows.microsoft.com/es-xl/internet-explorer/delete-manage-cookies">Internet Explorer</a>
  </li>
  <li>
  <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we" >FireFox </a>
  </li>
  <li>
  <a href="https://support.google.com/chrome/answer/95647?hl=es">Chrome</a>
  </li>
  <li>
    <a href="https://www.apple.com/legal/privacy/es/cookies/">Safari</a>
  </li>
</ul>

<p>También puede borrar las cookies que tenga guardadas en su navegador acudiendo a las opciones de configuración del mismo.
</p>

 </div>
</div>   
  {% endblock %}