{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fenix Gran Canaria</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="{% static 'css/agency.min.css' %}" />
  <!-- mapbox -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<style type="text/css">
   header.masthead {
  text-align: center;
  color: white;
 background-image: url('https://elenacube.s3-eu-west-1.amazonaws.com/static/img/bark-min.webp');
  background-attachment: fixed;



}
.fa-instagram:hover{
   color:#FED137 !important;
}
.fa-instagram:hover{
   color:#FED137 !important;
}
.fa-twitter:hover{
   color:#FED137 !important;
}
.fa-twitter:hover{
   color:#FED137 !important;
}
.fa-facebook:hover{
   color:#FED137 !important;
}
.fa-facebook:hover{
   color:#FED137 !important;
}
#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 20px;

}
#mainNav {
  background-color: #212529;
  padding: 3px;

}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(59,54,254, 0.4);
}
header.masthead .intro-text {
  padding-top: 130px;
  padding-bottom: 100px;
}
.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
}

.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
}
    #features {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        overflow: auto;
        background: rgba(255, 255, 255, 0.8);
    }
    #map canvas {
        cursor: crosshair;
    }

}

.intro-lead-in {
  font-size: 15px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.portfolio-modal .modal-content {
  padding: 50px 0;
  text-align: center;

}
.portfolio-modal .modal-content h3 {
  margin-bottom: 10px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 10px;
}
</style>
</head>

<body id="page-top">

   <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">FENIX </a>
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: transparent;">
        
        <i class="fa fa-bars" style="color: #FED236;font-size:20px"></i>

      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services"></a>
          </li>
 
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'green:indexmap' %}#mapa">Mapa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'upload:create' %}">Subir foto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'blog:post_list' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://gmail.us5.list-manage.com/subscribe/post?u=fea7a8cf3005fc556d73f9315&id=78f85116b2">Suscríbete</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase">Nuestros Totems</h3>
          <h3 class="section-subheading text-muted"> ¡Únete con una <strong>imágen de cambio! </strong> </h3></p>
          
        </div>

      </div>
      <div class="row">
             <!-- Galaz -->  
           <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal15">
            <div class="portfolio-hover">
            </div>
            {% for Galaz in posts15 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Galaz.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Galaz.title }}</h4>
            <p class="text-muted">{{ Galaz.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
           <!-- Cueva_Corcho -->  

        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal13">
            <div class="portfolio-hover">
            </div>
            {% for Cueva_Corcho in posts13 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Cueva_Corcho.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Cueva_Corcho.title }}</h4>
            <p class="text-muted">{{ Cueva_Corcho.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
    <!-- Fuentefria -->  
          <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal12">
            <div class="portfolio-hover">
            </div>
            {% for Fuentefria in posts12 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Fuentefria.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Fuentefria.title }}</h4>
            <p class="text-muted">{{ Fuentefria.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
        
      
                   <!-- Pajaritos -->  

                  <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal16">
            <div class="portfolio-hover">
            </div>
            {% for Pajaritos in posts16 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Pajaritos.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Pajaritos.title }}</h4>
            <p class="text-muted">{{ Pajaritos.place }}</p>
          </div> {% endif %}{% endfor %}
        </div>

             <!-- Doña_Paca -->  
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal14">
            <div class="portfolio-hover">
            </div>
            {% for Doña_Paca in posts14 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Doña_Paca.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Doña_Paca.title }}</h4>
            <p class="text-muted">{{ Doña_Paca.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
      <!-- Tejeda -->  
          <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
            </div>
            {% for Tejeda in posts4 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Tejeda.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Tejeda.title }}</h4>
            <p class="text-muted">{{ Tejeda.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
                       <!-- Cuevas_del_Caballero -->  
          <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal11">
            <div class="portfolio-hover">
            </div>
            {% for Cuevas_del_Caballero in posts11 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Cuevas_del_Caballero.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Cuevas_del_Caballero.title }}</h4>
            <p class="text-muted">{{ Cuevas_del_Caballero.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>

                 <!-- La_Cilla -->
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
            </div>
            {% for La_Cilla in posts %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ La_Cilla.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ La_Cilla.title }}</h4>
            <p class="text-muted">{{ La_Cilla.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>

               <!-- Las_Hoyas -->  
            <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
            </div>
            {% for Las_Hoyas in posts6 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Las_Hoyas.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Las_Hoyas.title }}</h4>
            <p class="text-muted">{{ Las_Hoyas.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
        <!-- Acusa -->
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
            </div>
            {% for Acusa in posts3 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Acusa.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Acusa.title }}</h4>
            <p class="text-muted">{{ Acusa.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
        <!-- Degollada_de_Sargento -->  
            <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal8">
            <div class="portfolio-hover">
            </div>
            {% for Degollada_de_Sargento in posts8 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Degollada_de_Sargento.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Degollada_de_Sargento.title }}</h4>
            <p class="text-muted">{{ Degollada_de_Sargento.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
          <!-- Lugarejos -->  
           <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
            </div>
            {% for Lugarejos in posts5 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Lugarejos.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Lugarejos.title }}</h4>
            <p class="text-muted">{{ Lugarejos.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
         <!-- Degollada_del_Humo -->
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
            </div>
            {% for Degollada_del_Humo in posts2 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Degollada_del_Humo.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Degollada_del_Humo.title }}</h4>
            <p class="text-muted">{{ Degollada_del_Humo.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
      <!-- Cruz_de_Maria -->  
          <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal10">
            <div class="portfolio-hover">
            </div>
            {% for Cruz_de_Maria in posts10 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Cruz_de_Maria.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Cruz_de_Maria.title }}</h4>
            <p class="text-muted">{{ Cruz_de_Maria.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
      
           

               <!-- Tamadaba -->  
            <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal7">
            <div class="portfolio-hover">
            </div>
            {% for Tamadaba in posts7 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Tamadaba.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Tamadaba.title }}</h4>
            <p class="text-muted">{{ Tamadaba.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>
                     
                       <!-- Fin_del_Mundo -->  
          <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal9">
            <div class="portfolio-hover">
            </div>
            {% for Fin_del_Mundo in posts9 %}
            {% if forloop.counter0 == 0 %}
            <img class="img-fluid" src="{{ Fin_del_Mundo.image.url }}" alt="" > 
            </a> 
          <div class="portfolio-caption">
            <h4>{{ Fin_del_Mundo.title }}</h4>
            <p class="text-muted">{{ Fin_del_Mundo.place }}</p>
          </div> {% endif %}{% endfor %}
      </div>

 
                 

   

</div>


      </section>



           
           
 <!-- Footer -->
  <footer class="footer bg" style="background-color: #212528">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/gcflogo-min.webp" alt="" " style="width: 11%; border-radius: 4%;margin-right: 40" >
              <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/fred.png" alt="" " style="width: 40%; border-radius: 4%" >
            
              <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/aya.png" alt="" " style="width: 11%;border-color: white;border-radius:4%;" >
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; 2019 Parque Forestal CB. Todos los derechos reservados.</p>
        </div>
       </div>
       </div> 
  </footer>
  

  <!-- Bootstrap core JavaScript -->

  <!-- Custom scripts for this template -->
  <script src="https://elenacube.s3-eu-west-1.amazonaws.com/static/js/agency.min.js"></script>

</body>

</html>

    <!-- Modals -->
    <!-- Degollada_del_Humo -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Degollada_del_Humo in posts2 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Degollada_del_Humo.title }}</h3>
                <p class="text-muted">{{ Degollada_del_Humo.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Degollada_del_Humo.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Degollada_del_Humo.body }}</p>
                {% if Degollada_del_Humo.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Degollada_del_Humo.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Degollada_del_Humo.author }}</strong>,&nbsp;&nbsp;{{ Degollada_del_Humo.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- Modal La_Cilla -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for La_Cilla in posts %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ La_Cilla.title }}</h3>
                <p class="text-muted">{{ La_Cilla.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ La_Cilla.image.url }}" alt="" style="width: 100%"> 
                <p>{{ La_Cilla.body }}</p>
                {% if La_Cilla.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ La_Cilla.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ La_Cilla.author }}</strong>,&nbsp;&nbsp;{{ La_Cilla.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


    <!-- Modal Acusa -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Acusa in posts3 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Acusa.title }}</h3>
                <p class="text-muted">{{ Acusa.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Acusa.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Acusa.body }}</p>
                {% if Acusa.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Acusa.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Acusa.author }}</strong>,&nbsp;&nbsp;{{ Acusa.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <!-- Modal Tejeda -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Tejeda in posts4 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Tejeda.title }}</h3>
                <p class="text-muted">{{ Tejeda.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Tejeda.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Tejeda.body }}</p>
                {% if Tejeda.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Tejeda.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Tejeda.author }}</strong>,&nbsp;&nbsp;{{ Tejeda.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
             <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
        <!-- Modal Lugarejos -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Lugarejos in posts5 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Lugarejos.title }}</h3>
                <p class="text-muted">{{ Lugarejos.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Tejeda.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Lugarejos.body }}</p>
                {% if Lugarejos.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Lugarejos.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Lugarejos.author }}</strong>,&nbsp;&nbsp;{{ Lugarejos.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




        <!-- Modal Las_Hoyas -->
     <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Las_Hoyas in posts6 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Las_Hoyas.title }}</h3>
                <p class="text-muted">{{ Las_Hoyas.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Las_Hoyas.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Las_Hoyas.body }}</p>
                {% if Las_Hoyas.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Las_Hoyas.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Las_Hoyas.author }}</strong>,&nbsp;&nbsp;{{ Las_Hoyas.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

        <!--Modal Tamadaba -->
     <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Tamadaba in posts7 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Tamadaba.title }}</h3>
                <p class="text-muted">{{ Tamadaba.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Tamadaba.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Tamadaba.body }}</p>
                {% if Tamadaba.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Tamadaba.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Tamadaba.author }}</strong>,&nbsp;&nbsp;{{ Tamadaba.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


         
         <!--Modal Degollada_del_Sargento -->
     <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Degollada_del_Sargento in posts8 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Degollada_del_Sargento.title }}</h3>
                <p class="text-muted">{{ Degollada_del_Sargento.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Degollada_del_Sargento.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Degollada_del_Sargento.body }}</p>
                {% if Degollada_del_Sargento.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Degollada_del_Sargento.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Degollada_del_Sargento.author }}</strong>,&nbsp;&nbsp;{{ Degollada_del_Sargento.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

         <!--Modal Fin_del_Mundo -->
      <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Fin_del_Mundo in posts9 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Fin_del_Mundo.title }}</h3>
                <p class="text-muted">{{ Fin_del_Mundo.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Fin_del_Mundo.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Fin_del_Mundo.body }}</p>
                {% if Fin_del_Mundo.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Fin_del_Mundo.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Fin_del_Mundo.author }}</strong>,&nbsp;&nbsp;{{ Fin_del_Mundo.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
         <!--Modal Cruz_de_Maria -->
      <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Cruz_de_Maria in posts10 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Cruz_de_Maria.title }}</h3>
                <p class="text-muted">{{ Cruz_de_Maria.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Cruz_de_Maria.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Cruz_de_Maria.body }}</p>
                {% if Cruz_de_Maria.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Cruz_de_Maria.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Cruz_de_Maria.author }}</strong>,&nbsp;&nbsp;{{ Cruz_de_Maria.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
         <!--Modal Cuevas_del_Caballero -->
      <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Cuevas_del_Caballero in posts11 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Cuevas_del_Caballero.title }}</h3>
                <p class="text-muted">{{ Cuevas_del_Caballero.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Cuevas_del_Caballero.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Cuevas_del_Caballero.body }}</p>
                {% if Cuevas_del_Caballero.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Cuevas_del_Caballero.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Cuevas_del_Caballero.author }}</strong>,&nbsp;&nbsp;{{ Cuevas_del_Caballero.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
         <!--Modal Fuentefria -->
      <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Fuentefria in posts12 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Fuentefria.title }}</h3>
                <p class="text-muted">{{ Fuentefria.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Fuentefria.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Fuentefria.body }}</p>
                 {% if Fuentefria.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Fuentefria.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Fuentefria.author }}</strong>,&nbsp;&nbsp;{{ Fuentefria.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
         <!--Modal Cueva_Corcho -->
      <div class="portfolio-modal modal fade" id="portfolioModal13" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Cueva_Corcho in posts13 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Cueva_Corcho.title }}</h3>
                <p class="text-muted">{{ Cueva_Corcho.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Cueva_Corcho.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Cueva_Corcho.body }}</p>
                {% if Cueva_Corcho.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Cueva_Corcho.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Cueva_Corcho.author }}</strong>,&nbsp;&nbsp;{{ Cueva_Corcho.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
         <!--Modal Doña_Paca -->
      <div class="portfolio-modal modal fade" id="portfolioModal14" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Doña_Paca in posts14 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Doña_Paca.title }}</h3>
                <p class="text-muted">{{ Doña_Paca.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Doña_Paca.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Doña_Paca.body }}</p>
                {% if Doña_Paca.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Doña_Paca.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Doña_Paca.author }}</strong>,&nbsp;&nbsp;{{ Doña_Paca.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


           <!--Modal Galaz -->
      <div class="portfolio-modal modal fade" id="portfolioModal15" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Galaz in posts15 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Galaz.title }}</h3>
                <p class="text-muted">{{ Galaz.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Galaz.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Galaz.body }}</p>
                {% if Galaz.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Galaz.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Galaz.author }}</strong>,&nbsp;&nbsp;{{ Galaz.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


           <!--Modal Pajaritos -->
      <div class="portfolio-modal modal fade" id="portfolioModal16" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Pajaritos in posts16 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Pajaritos.title }}</h3>
                <p class="text-muted">{{ Pajaritos.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Pajaritos.image.url }}" alt="" style="width: 100%"> 
                <p>{{ Pajaritos.body }}</p>
                {% if Pajaritos.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Pajaritos.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Pajaritos.author }}</strong>,&nbsp;&nbsp;{{ Pajaritos.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>

  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/agency.min.js' %}"></script>

</body>

</html>
