{% load static from staticfiles %}
{% load instagram_client %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="description" content="Contribuye en recuperar el bosque después de un incendio con galería de imágenes y timelapse que nos llevará de viaje por los paisajes de Gran Canaria.">
  <meta name="author" content="fenixgrancanaria">


  <title>Fenix Gran Canaria</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="//elenacube.s3-eu-west-1.amazonaws.com/static/css/all.min.css" />
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='//fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="//elenacube.s3-eu-west-1.amazonaws.com/static/css/agency.min.css" />
  <!-- mapbox -->

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<style type="text/css">
   header.masthead {
  text-align: center;
  color: white;
  background-image: url('//elenacube.s3-eu-west-1.amazonaws.com/static/img/fondofenix-min.png');
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 50% 50%;
top: 0;
right: 0;
bottom: 0;
left: 0;
content: "";
z-index: 0;

}
#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 20px;

}
#mainNav {
  background-color: #212529;
  padding: 0px;

}
html {
  scroll-behavior: smooth;
}
img {
    image-orientation: from-image;
}
.footer {
  
    width: 100%; 
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    bottom: 0pt;
    left: 0pt;

}   

.container2 {
  position: relative;
}

.image2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container2:hover .image2 {
  opacity: 0.5;

}

.container2:hover .middle {
  opacity: 2;
}

.texto {
  background-color: #067CFF;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

 .foot{
  color:gray;
  text-align: left;
  margin-left: 60px;
  }
@media (max-width: 40em) {
.screen_image {
display: none;
}
}

@media (min-width: 992px) {
.image2 {
width: 40%;

}
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(59,54,254, 0.4);
}
.portfolio-modal .modal-content {
  padding: 50px 0;
  text-align: center;

}

.portfolio-modal .modal-content h3 {
  margin-bottom: 10px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 10px;
}

.text {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
}
@media (max-width: 767.98px) {

  video {width: 80%;}

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 767.98px) {
  .container {
    padding: 90px 30px 50px 30px !important;    
  }
  h1 {font-size: 2em;}
  h3 {font-size: 1em; }

}
</style>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top" style="padding-left: 20px">FENIX </a>
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: transparent;">  
        <i class="fa fa-bars" style="color: #FED236;font-size:20px"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive" style="padding-left: 20px">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services"></a>
          </li> 
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'green:indexmap' %}#mapa">Mapa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'upload:create' %}">Subir foto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'blog:post_list' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="//gmail.us5.list-manage.com/subscribe/post?u=fea7a8cf3005fc556d73f9315&id=78f85116b2">Suscríbete</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <img class="" src="//elenacube.s3-eu-west-1.amazonaws.com/static/img/fenix_logo0-min+(1).png" alt="" style="width:180px"><br><br><br>


      </div>
    </div>
  </header>


  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase">Sobre el proyecto</h3>
         <p> <h3 class="section-subheading text-muted">
       Es una iniciativa que invita a contribuir activamente en la recuperación del entorno forestal con fotografías y medidas de sensibilización.<br><br><center><a href="//gmail.us5.list-manage.com/subscribe/post?u=fea7a8cf3005fc556d73f9315&id=78f85116b2">
        <button href="" type="button" class="btn btn-outline-primary js-scroll-trigger">Suscríbete</button></a></center></h3></p>
                  
        </div>
      </div>
      <div class="row text-center">
       <center>
        <video class="im1" width="70%" height="120%" margin="20px" autoplay loop muted controls><source src="https://elenacube.s3-eu-west-1.amazonaws.com/media/fenix_v4.mp4" type="video/mp4" /></video>
       </center>
      </div>

  </section>
       
<div class="" id="subir">
  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
  
       <div class="row">
        <div class="col portfolio-item">
          <a class="portfolio-link" data-toggle="" href="{% url 'green:fenixgram' %}">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>       
            <img class="img-fluid" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="//elenacube.s3-eu-west-1.amazonaws.com/static/img/81397838_1072903113052357_1571614390345720956_n.jpg
" alt=""> 
          </a>               
          <div class="portfolio-caption">
            <h3>Nuestros totems</h3>
            <p class="text-muted">Colabora con tu foto</p>
          </div>
        </div>
        <div class="col portfolio-item" id="blog">
           <a class="portfolio-link" data-toggle="" href="{% url 'blog:post_list' %}">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div> 
              <img class="img-fluid" src="//elenacube.s3-eu-west-1.amazonaws.com/media/newalb-min.jpg" id="blog"/>
             </a>
             <div class="portfolio-caption">
             <h3>Nuestro blog</h3>
             <p class="text-muted">Echa un vistazo a nuestro blog!</p>
             </div> 
           </div>
       
      </div>

      <center>
        <div class="row">
        <div class="col-lg-12 text-center">
          <h6 class="section-subheading text-muted"> ¡Únete con una <strong>imagen de cambio! </strong> </h6></p>
        </div>
      </div>
          <a href="{% url 'upload:create' %}" >
        <button href="" type="button" class="btn btn-outline-primary js-scroll-trigger" >Subir Foto</button></a>

  
</center>
  </section>
 
    <section class=" page-section" id="mapa">
    <div class="container" id="mapa">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase">Localización</h3>
          <h3 class="section-subheading text-muted"> ¡Ya tenemos <strong>16 'totems' </strong>! </h3></p>
        </div>
      </div>
    </div>
<div class="container2" style="background-color: #79BDEA">
  <a href="{% url 'green:indexmap' %}#mapa">
  <center><img class="image2 "src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="//elenacube.s3-eu-west-1.amazonaws.com/media/mapgc0.jpg" alt=""></center>
  <div class="middle">
    <div class="texto">VER MAPA</div></a>
</div>
</section>

  <!-- Contact -->

  <!-- Call to Action -->
  <section class="call-to-action text-dark text-center" style="padding-top: 0px;" >
    <div class="container">
      <div class="row">
        <div class="col-xl-8 mx-auto">
         <ul class="list-inline mb-0">
            <h4 class="mb-4"style ="color: #343A40">Síguenos en:</h4>
          <li class="list-inline-item mr-3">   
            <a target="_blank" rel="noopener noreferrer" href="//instagram.com/fenixgrancanaria" class="fa fa-instagram" style="font-size:48px;color:#343A40"></a>   
            </li>
          <li class="list-inline-item mr-3">
          <a target="_blank" rel="noopener noreferrer" href="//twitter.com/fenixgrancan"" class="fa fa-twitter" style="font-size:48px;color:#343A40"></a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" rel="noopener noreferrer" href="//www.facebook.com/Fenix-102362407875246/" class="fa fa-facebook" style="font-size:48px;color:#343A40"></a>
              </a>
            </li>
          </ul><br>
        </div>
        <div class="col-xl-8 mx-auto">
         <h5 class="mb-4" id="contacto">o suscríbete para estar al día y entrarás en el sorteo de material exclusivo Fenix!!</h5>
         <center>
        <img src="//elenacube.s3-eu-west-1.amazonaws.com/media/fenix_regalos-min.png" alt="" style="width: 70%"></center><br>
         <form action="//gmail.us5.list-manage.com/subscribe/post?u=fea7a8cf3005fc556d73f9315&amp;id=78f85116b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>  
          <div class="form-row">
        <div class="col-xl-6 mx-auto">
              <div id="mc_embed_signup_scroll">

                <input type="email" value="" name="EMAIL" class="form-control form-control" id="mce-EMAIL" placeholder="Introduce tu correo electrónico..." required>
              </div><br>

           <div class="col-xl-8 mx-auto" >
               <div class="clear"> <button type="submit" class="btn btn-outline-primary" name="b_fea7a8cf3005fc556d73f9315_78f85116b2" tabindex="-1" value="">Suscríbete!</button></div>
            </div> 

          </div>  

        </div>
        </form><br>

  
        </div>
      </div>
    </div><br>
    
  </section><br><br>

           
          
</body>
<br><br>
<div class="w3-container" style="background-color:#F3F3F3"><br><br><br>
  <center><h3><stron>PATROCINADORES</stron></h3></center><br>
<br><br>
  <div class="w3-row ">
<div class="w3-third w3-container "><center>
 <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/gcflogo-min.png" alt="" style="width: 40%; border-radius: 4%"> </center>
</div>
<div class="w3-third w3-container"><center>
 <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/logo_fred-olsen-2.png" alt="" style="width: 55%;" ></center>
</div>
<div class="w3-third w3-container"><center>
  <h2><img class="" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://elenacube.s3-eu-west-1.amazonaws.com/media/aya-min.png" alt="" style="width: 40%" ></h2></center><br><br><br>
</div>
</div></div>

<!-- Footer -->
<footer class="w3-container  w3-padding-32 " style="background-color: #212529; color:white">
  <div class="row">
  <div class="w3-col m3 w3">
    <center>
    <p style="font-size: 15px;color: #EEC534;text-align: left;margin-left: 60px">SECCIONES</p>
    <a href="{% url 'green:index' %}#services" style="text-decoration: none; line-height: "><h6 class="foot" style="line-height: 25px">Sobre el proyecto</h6></a>
    <a href="{% url 'upload:create' %}" style="text-decoration: none;"><h6 class="foot" style="line-height: 25px">Sube una foto</h6></a>
    <a href="{% url 'green:indexmap' %}#mapa" style="text-decoration: none;"><h6 class="foot" style="line-height: 25px">Ver totems en mapa</h6></a>
    <a href="https://gmail.us5.list-manage.com/subscribe/post?u=fea7a8cf3005fc556d73f9315&id=78f85116b2" style="text-decoration: none;"><h6 class="foot" style="line-height: 25px">Hazte embajador</h6></center></a>

  </div>
  <div class="w3-col m3 w3">
    <p style="font-size: 15px;color: #EEC534 ;text-align: left;margin-left: 60px">LEGAL</p>
   <center> 
 
    <a href="{% url 'green:privacidad' %}" style="text-decoration: none;"><h6 class="foot"style="line-height: 25px">Política de Privacidad</h6></a>
    <a href="{% url 'green:cookies' %}" style="text-decoration: none;"> <h6 class="foot"style="line-height: 25px">Política de Cookies</h6></a>
   </center>
  </div>
  <div class="w3-col m3 w3">
    <p style="font-size: 15px;color: #EEC534 ;text-align: left;margin-left: 60px">SOCIAL</p>
   <center>
    <h6 class="foot" style="line-height: 25px;color: gray"><a href="https://instagram.com/fenixgrancanaria" class="fa fa-instagram"></a>&nbsp;Instagram</h6>
    <h6 class="foot" style="line-height: 25px;color: gray"><a href="https://twitter.com/fenixgrancan" class="fa fa-twitter"></a>&nbsp;Twitter</h6>
    <h6 class="foot"style="line-height: 25px;color: gray"><a href="https://www.facebook.com/Fenix-102362407875246/" class="fa fa-facebook"></a>&nbsp;Facebook</h6></center>
  </div>
    <div class="w3-col m3 w3">
      <br>
    <img  src="https://elenacube.s3-eu-west-1.amazonaws.com/media/fenix_gray-min.png" style="width: 65px;margin-left: 50px;margin-top: 10px">
  </div>

</div><h6 class="foot" style="line-height: 25px"><a href="{% url 'green:privacidad' %}" style="text-decoration: none;color: gray;margin-left: -13px">&copy; 2020 Parque Forestal CB. Todos los derechos reservados.</h6></a>
</footer>
    <!-- Bootstrap core JS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Custom scripts for this template -->
  <script src="//elenacube.s3-eu-west-1.amazonaws.com/static/js/agency.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<!-- Defer images -->
<script>
function init() {
var imgDefer = document.getElementsByTagName('img');
for (var i=0; i<imgDefer.length; i++) {
if(imgDefer[i].getAttribute('data-src')) {
imgDefer[i].setAttribute('src',imgDefer[i].getAttribute('data-src'));
} } }
window.onload = init;
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="//www.googletagmanager.com/gtag/js?id=UA-155307635-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155307635-1');
</script>
</html>








<!-- Begin Mailchimp Signup Form -->



<!--End mc_embed_signup-->
