{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Fenix Gran Canaria</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="https://elenacube.s3-eu-west-1.amazonaws.com/static/css/all.min.css" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="https://elenacube.s3-eu-west-1.amazonaws.com/static/css/agency.min.css" />
  <!-- mapbox -->

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<style type="text/css">
   header.masthead {
  text-align: center;
  color: white;
  background-image: url('https://elenacube.s3-eu-west-1.amazonaws.com/static/img/fondofenix1-min.webp');


}
#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 20px;

}
html {
  scroll-behavior: smooth;
}
img {
    image-orientation: from-image;
}
.footer {
  
    width: 100%; 
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;

    bottom: 0pt;
    left: 0pt;

}   


.container2 {
  position: relative;
}

.image2 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container2:hover .image2 {
  opacity: 0.5;

}

.container2:hover .middle {
  opacity: 2;
}

.texto {
  background-color: #FED236;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


@media (max-width: 40em) {
.screen_image {
display: none;
}
}

@media (min-width: 992px) {
.image2 {
width: 40%;

}
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(59,54,254, 0.4);
}


</style>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">FENIX </a>
     <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: transparent;">
        
        <i class="fa fa-bars" style="color: #FED236;font-size:20px"></i>

      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Proyecto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Galería</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'green:indexmap' %}#mapa">Mapa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/fenix_logo0.png" alt="" style="width:180px"><br><br><br>


      </div>
    </div>
  </header>


  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase">Sobre el proyecto</h3>
         <p> <h3 class="section-subheading text-muted">
       Es una iniciativa que invita a contribuir activamente en la recuperación del entorno forestal con fotografías y medidas de sensibilización.</h3></p>
     
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/foto1.png" alt="" style="width: 120px">

          </span><br><br>
          <p class="text-muted"> Hemos instalado 'totems' de madera <a href="{% url 'green:indexmap' %}#mapa"><strong> ubicados</strong></a> a lo largo de senderos y miradores que atraviesan zonas quemadas.</p>
          
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/media/foto-min.png" alt="" style="width: 120px"><br><br>

          </span><br><br>
          <p class="text-muted">Coloca tu teléfono en los 'totems', saca una foto y compartela con hashtag <strong>#fenixgrancanaria</strong> en Twitter, Instagram o Facebook. </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/foto2.png" alt="" style="width: 120px">

          </span><br><br>
          <p class="text-muted"> Recopilamos las fotos y creamos una galería y su <strong>cambio a lo largo del tiempo.</strong> También puedes subir tu foto directamente <a href="{% url 'upload:create' %}"><strong> desde esta web!</strong></a> </p>
        </div>

  </section>
       
         
        
  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase">Galería</h3>
          <h6 class="section-subheading text-muted"> ¡Únete con una <strong>imágen de cambio! </strong> </h6></p>
        </div>
      </div>
       <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <div class="screen_image">
           <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>
              <img class="img-fluid" src="https://elenacube.s3-eu-west-1.amazonaws.com/media/LA_CILLA-min_2.webp" alt="" > </a>
             <div class="portfolio-caption">
             <h4 >Mirador de La Cilla</h4>
             <p class="text-muted">Artenara</p>
             </div> 
            </div>
           </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>  
            <img class="img-fluid" src="https://elenacube.s3-eu-west-1.amazonaws.com/media/FIN_DEL_MUNDO_FOTO1-min.webp" alt="" > 
          </a>                 
          <div class="portfolio-caption">
            <h4>Mirador del Fin del Mundo</h4>
            <p class="text-muted">Agaete</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>       
            <img class="img-fluid" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/EL_SARGENTO__FOTO1-min.webp" alt=""  > 
          </a>               
          <div class="portfolio-caption">
            <h4>Degollada de Sargento</h4>
            <p class="text-muted">Artenara</p>
          </div>
        </div>
        <br>
        
      </div>
      <center>
          <a href="{% url 'green:fenixgram'  %}">
        <button href="" type="button" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Ver más</button></a>

  
</center>
  </section>
 
       <section class=" page-section" id="mapa">
    <div class="container" id="mapa">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase">Localización</h3>
          <h3 class="section-subheading text-muted"> ¡Ya tenemos <strong>16 'totems' </strong>! </h3></p>
        </div>
      </div>
    </div>
<div class="container2" style="background-color: #65ACE5">
  <a href="{% url 'green:indexmap' %}#mapa">
  <center><img class="image2 "src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/mapgc.webp" alt=""></center>
  <div class="middle">
    <div class="texto">Ver mapa</div></a>
</div>
</section>

  <!-- Contact -->

  <!-- Call to Action -->
  <section class="call-to-action text-dark text-center" id="contacto">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-8 mx-auto">
                  <ul class="list-inline mb-0">
            <h3 class="mb-4"style ="color: #343A40">Síguenos en:</h3>
          <li class="list-inline-item mr-3">   
            <a href="https://instagram.com/fenixgrancanaria"" class="fa fa-instagram" style="font-size:48px;color:#343A40"></a>   
            </li>
          <li class="list-inline-item mr-3">
          <a href="https://twitter.com/fenixgrancan"" class="fa fa-twitter" style="font-size:48px;color:#343A40"></a>
            </li>

            <li class="list-inline-item">
              <a href="https://www.facebook.com/Fenix-102362407875246/" class="fa fa-facebook" style="font-size:48px;color:#343A40"></a>
              </a>
            </li>
          </ul><br>
        </div>
        <div class="col-xl-8 mx-auto">
         <h4 class="mb-4">o suscríbete para estar al día</h4>
         <form action="https://gmail.us5.list-manage.com/subscribe/post?u=fea7a8cf3005fc556d73f9315&amp;id=78f85116b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>  
          <div class="form-row">
        <div class="col-xl-8 mx-auto">
              <div id="mc_embed_signup_scroll">

                <input type="email" value="" name="EMAIL" class="form-control form-control-lg" id="mce-EMAIL" placeholder="Introduce tu correo electrónico..." required>
              </div><br>
           <div class="col-xl-8 mx-auto">
               <div class="clear"> <button type="submit" class="btn btn-block btn-lg btn-primary" name="b_fea7a8cf3005fc556d73f9315_78f85116b2" tabindex="-1" value="">Empezar!</button></div>
            </div> 

          </div>  

        </div>
        </form><br>

  
        </div>
      </div>
    </div><br>
    
  </section><br><br>

           
           

  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for La_Cilla in posts %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ La_Cilla.title }}</h3>
                <p class="text-muted">{{ La_Cilla.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ La_Cilla.image.url }}" alt="" style="width: 100%"> 
                <p align="justify">{{ La_Cilla.body }}</p>
                {% if La_Cilla.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ La_Cilla.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ La_Cilla.author }}</strong>,&nbsp;&nbsp;{{ La_Cilla.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
           <button type="button" class="close" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>  
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Fin_del_Mundo in posts9 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Fin_del_Mundo.title }}</h3>
                <p class="text-muted">{{ Fin_del_Mundo.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Fin_del_Mundo.image.url }}" alt="" style="width: 100%"> 
                <p align="justify">{{ Fin_del_Mundo.body }}</p>
                {% if Fin_del_Mundo.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Fin_del_Mundo.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Fin_del_Mundo.author }}</strong>,&nbsp;&nbsp;{{ Fin_del_Mundo.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal 3 -->
 <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <button type="button" class="close" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button> 
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Degollada_de_Sargento in posts8 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Degollada_de_Sargento.title }}</h3>
                <p class="text-muted">{{ Degollada_de_Sargento.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Degollada_de_Sargento.image.url }}" alt="" style="width: 100%"> 
                <p align="justify">{{ Degollada_de_Sargento.body }}</p>
                {% if Degollada_de_Sargento.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Degollada_de_Sargento.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted" style="font-size:160%;>&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Degollada_de_Sargento.author }}</strong>,&nbsp;&nbsp;{{ Degollada_de_Sargento.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
             <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                  Cerrar</button>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

 <!-- Footer -->
  <footer class="footer bg" style="background-color: #212528">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/gcflogo-min.webp" alt="" " style="width: 11%; border-radius: 4%;margin-right: 40" >
              <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/fred.png" alt="" " style="width: 40%; border-radius: 4%" >
            
              <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/aya.png" alt="" " style="width: 11%;border-color: white;border-radius:4%;" >
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; 2019 Parque Forestal CB. Todos los derechos reservados.</p>
        </div>
       </div>
       </div> 
  </footer>
  <!-- Custom scripts for this template -->
  <script src="https://elenacube.s3-eu-west-1.amazonaws.com/static/js/agency.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>


</html>








<!-- Begin Mailchimp Signup Form -->



<!--End mc_embed_signup-->
