{% extends "green/base.html" %}
{% block content %}

    <!-- Header -->
      <section id="header" style="padding-top:50px; margin-top:50px">
        <br><br><br><br>
        <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/fenix_logo0-min+(1).png" alt="" style="width:180px">
        <div class="inner">
          <h1><strong>Gran Canaria</strong></h1>
          <p><strong>Únete con una imágen de cambio!</strong></p>
          <ul class="actions special">
            <li><a href="#one" class="button scrolly">Saber más</a></li>
          </ul>
        </div>
      </section>

    <!-- One -->
      <section id="one" class="main style1">
        <div class="container">
          <div class="row gtr-150">
            <div class="col-6 col-12-medium">
              <header class="major">
                <h2>¿Quieres conocer cómo se recupera <br/>
                la naturaleza de un incendio?</h2>
              </header>
              <p>
               Fénix nace como alternativa complementaria a las acciones de reforestación con un proyecto de concienciación y educación forestal preventiva, que permita participar activamente a la sociedad local mediante acciones de huella positiva . 🌱</p>
            </div>
            <div class="col-6 col-12-medium imp-medium">
              <span class="image fit"><video class="card-img-top"  width="100%" autoplay loop muted controls><source src="https://elenacube.s3-eu-west-1.amazonaws.com/fenix/Maria.mp4" type="video/mp4" /></video></span>
            </div>
          </div>
        </div>
      </section>

      <section id="three" class="main style1 special" style="background-color: #F4F4F4">
        <div class="container">
          <header class="major">
            <h2>Descubre nuestro programa</h2>
          </header>
          <p>Contribuye a recuperar nuestro entorno y forma parte de la historia forestal de Gran Canaria.</p>
          <div class="row gtr-150">
            <div class="col-4 col-12-medium">
              <span class="image fit"><img class="card-img-top" src="https://elenacube.s3.amazonaws.com/media/Mapa.png" alt="Card image cap"></span>
              <h3>Encuentra nuestros totems</h3>
              <p>Tienes a tu disposición un mapa con la localización e información sobre todos las zonas en las que se encuentran nuestros totems.</p>
              <ul class="actions special">
                <li><a href="{% url 'green:indexmap' %}" class="button">MAPA</a></li>
              </ul>
            </div>
            <div class="col-4 col-12-medium">
              <span class="image fit"><img src="https://elenacube.s3.amazonaws.com/media/Blog.png" alt="" /></span>
              <h3>Anímate</h3>
              <p>En nuestro blog descubre las ultimas novedades. Sube a la cumbre y anímate a colaborar con tu foto en nuestro proyecto.</p>
              <ul class="actions special">
                <li><a href="{% url 'blog:post_list' %}" class="button">Blog</a></li>
              </ul>
            </div>
            <div class="col-4 col-12-medium">
              <span class="image fit"><img src="https://elenacube.s3.amazonaws.com/media/Participa.png" alt="" /></span>
              <h3>Para los más inquietos</h3>
              <p>Tenemos organizado un sorteo en el que conseguirás un regalo dependiendo de la cantidad de fotos que nos hayas facilitado.</p>
              <ul class="actions special">
                <li><a href="{% url 'green:sorteo' %}" class="button">Sorteo</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

    <!-- Four -->
      <section id="four" class="main style2 special">
        <div class="container">
          <header class="major">
            <h2>Quieres participar?</h2>
          </header>
          <p><strong>Únete con una imágen de cambio!</strong></p>
          <ul class="actions special">
            <li><a href="https://gmail.us5.list-manage.com/subscribe/post?u=fea7a8cf3005fc556d73f9315&id=78f85116b2" class="button wide">Suscríbete</a></li>
            <li><a href="{% url 'upload:create' %}" class="button wide primary wide">Sube tu foto!</a></li>

          </ul>
        </div>
      </section>

  <section  class="style2" style="background-color: #F4F4F4">
    <div class="container" ><br>
      <center>          
      <h3 style="color: #8C8D8C"><strong>Síguenos en nuestras redes </strong></h3>
        <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a target="_blank" rel="noopener noreferrer"  href="https://instagram.com/fenixgrancanaria" >
                <i class="fa fa-instagram fa-2x fa-fw" style="color: #4486C7"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/fenixgrancan">
                <i class="fa fa-twitter fa-2x fa-fw" style="color: #4486C7"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/Fenix-102362407875246/">
                <i class="fa fa-facebook fa-2x fa-fw" style="color: #4486C7"></i>
              </a>
            </li>
          </ul>
        <h3><strong>y entérate de todo lo que sucede en</strong></h3> <img src="https://elenacube.s3.amazonaws.com/media/fenix_texto.png" alt="" /></p></strong>

       </center><br>
  </section>


    <!-- Sponsors -->
    <section>   
       <br>
       <div class="w3-container" >
      <center>
        <div class="row">
        <div class="col-sm-3 col-md-6 bg-success" style="background-color: white;">
          <p style="color: #8C8D8C"><strong>PATROCINADORES</strong></p><hr>
          <span class="image fit"><img class="card-img-top" src="https://elenacube.s3.amazonaws.com/media/fredaya.png" alt="Card image cap" style="width: 70%" ></span>         
        </div>
        <div class="col-sm-9 col-md-6 bg-warning"style="background-color: white">
          <p style="color: #8C8D8C"><strong>COLABORADORES</strong></p><hr>
          <span class="image fit"><img src="https://elenacube.s3.amazonaws.com/media/cabcaix.png" alt="" style="width: 50%"  /></span>
        </div>        
     </div></center>
    </section>
       <br>
        
  {% endblock %}