{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Fenix Gran Canaria</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="https://elenacube.s3-eu-west-1.amazonaws.com/static/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="https://elenacube.s3-eu-west-1.amazonaws.com/static/css/agency.min.css" />
  <!-- mapbox -->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

</style>

<style type="text/css">
   header.masthead {
  text-align: center;
  color: white;
  background-image: url('https://elenacube.s3-eu-west-1.amazonaws.com/static/img/fondofenix1-min.webp');

}
.fa-instagram:hover{
   color:#FED137 !important;
}
.fa-instagram:hover{
   color:#FED137 !important;
}
.fa-twitter:hover{
   color:#FED137 !important;
}
.fa-twitter:hover{
   color:#FED137 !important;
}
.fa-facebook:hover{
   color:#FED137 !important;
}
.fa-facebook:hover{
   color:#FED137 !important;
}
#mainNav .navbar-brand {
  color: #fed136;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 20px;

}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(59,54,254, 0.4);
}
header.masthead .intro-text {
  padding-top: 130px;
  padding-bottom: 100px;
}
.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
}

.projects-section {
  padding: 10rem 0;
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;
  }
}

.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #64a19d;
    border-width: .25rem;
    width: 30%;
  }
}
    #features {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        overflow: auto;
        background: rgba(255, 255, 255, 0.8);
    }
    #map canvas {
        cursor: crosshair;
    }

}

.intro-lead-in {
  font-size: 15px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.portfolio-modal .modal-content {
  padding: 50px 0;
  text-align: center;

}


.portfolio-modal .modal-content h3 {
  margin-bottom: 10px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 10px;
}
.lr {
  /* Safari and Chrome */

}

img {
    image-orientation: from-image;
}
.footer {

   
    width: 100%; 
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;

    bottom: 0pt;
    left: 0pt;

}   
@media (max-width: 40em) {
.screen_image {
display: none;
}

</style>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">FENIX </a>
       <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="background-color: transparent;">
        
        <i class="fa fa-bars" style="color: #FED236;font-size:20px"></i>

      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Proyecto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Galería</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#mapa">Mapa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/fenix_logo0.png" alt="" style="width:180px"><br><br><br>


      </div>
    </div>
  </header>


  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase">Sobre el proyecto</h3>
         <p> <h3 class="section-subheading text-muted">
       Es una iniciativa que invita a contribuir activamente en la recuperación del entorno forestal con fotografías y medidas de sensibilización.</h3></p>
     
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/foto1.png" alt="" style="width: 120px">

          </span><br><br>
          <p class="text-muted"> Hemos instalado <strong> 'totems' de madera </strong>ubicados a lo largo de senderos y miradores que atraviesan zonas quemadas.</p>

        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/foto.png" alt="" style="width: 120px"><br><br>

          </span><br><br>
          <p class="text-muted">Coloca tu teléfono en los 'totems', saca una foto y compartela con hashtag <strong>#fenixgrancanaria</strong> en Twitter, Instagram o Facebook.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/foto2.png" alt="" style="width: 120px">

          </span><br><br>
          <p class="text-muted"> Recopilamos las fotos y creamos una galería y su <strong>cambio a lo largo del tiempo.</strong> También puedes subir tu foto directamente <a href="{% url 'upload:create' %}"><strong> desde esta web!</strong></a> </p>
        </div>
        
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->
       
  <!-- Portfolio Grid -->
 <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h3 class="section-heading text-uppercase">Galería</h3>
          <h6 class="section-subheading text-muted"> ¡Únete con una <strong>imágen de cambio! </strong> </h6></p>
        </div>
      </div>
       <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
            </div>
              <div class="screen_image">
              <img class="img-fluid" src="https://elenacube.s3-eu-west-1.amazonaws.com/media/LA_CILLA-min_2.webp" alt="" > 
             <div class="portfolio-caption">
             <h4>Mirador de La Cilla</h4>
             <p class="text-muted">Artenara</p>
             </div> 
            </div>
           </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>  
            <img class="img-fluid" src="https://elenacube.s3-eu-west-1.amazonaws.com/media/FIN_DEL_MUNDO_FOTO1-min.webp" alt="" > 
          </a>                 
          <div class="portfolio-caption">
            <h4>Mirador del Fin del Mundo</h4>
            <p class="text-muted">Agaete</p>
          </div>
        </div>
               <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
              </div>
            </div>       
            <img class="img-fluid" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/EL_SARGENTO__FOTO1-min.webp" alt=""  > 
          </a>               
          <div class="portfolio-caption">
            <h4>Degollada de Sargento</h4>
            <p class="text-muted">Artenara</p>
          </div>
        </div>
      
        <br>
        
      </div>
      <center>
          <a href="{% url 'green:fenixgram'  %}">
        <button href="" type="button" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Ver más</button></a>

  
</center>
  </section>
   
       <section class="page-section" id="mapa">
    
    <div class="container" id="mapa">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h4 class="section-heading text-uppercase">Localización</h4>
          <h3 class="section-subheading text-muted"> ¡Ya tenemos <strong>16 'totems' </strong>! </h3></p>
        </div>
      </div>
    </div>
<center><div id='map' style='width: 100%; height: 450px;'></div></center></section>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicGFycXVlZm9yZXN0YWxjYiIsImEiOiJjazJhZDNnZjQyczRvM25ucmhpc3cyeG1uIn0.MnMoc6IjX7juyxHVEkwqtA';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/parqueforestalcb/ck2ad728q3d8y1cm1i9tfpzc8?optimize=true',

    center: [-15.648069, 28.030149],
    zoom: 10,
});

 
map.on('load', function () {
// Add a layer showing the places.
map.addLayer({
"id": "places",
"type": "symbol",
"source": {
"type": "geojson",
"data": {
"type": "FeatureCollection",
"features": [{
"type": "Feature",
"image": '',
"properties": {             

"description": "<br><h6><strong>Mirador de la Cilla</strong></h6><center><a href=\" https://goo.gl/maps/FxRyPN3rfMpnsWeR7\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>","icon": "circle"
},
"geometry": {
"type": "Point",
 'marker-size': 'large',
"coordinates": [-15.6487978, 28.0206194]
}
}, {
"type": "Feature",
"properties": {
"description": "<br><h6><strong>Degollada del Humo</strong></h6><center><a href=\"https://goo.gl/maps/sm43mbTmtBneUWCT9\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>",
"icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.6809085, 28.0556254]
}
}, {
"type": "Feature",
"properties": {
"description": "<br><center><h6><strong>Mesa de Acusa</strong></h6></center><center><a href=\"https://goo.gl/maps/GW3uxW29fLLUb1Pf9\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>","icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.6747167, 28.0130406]
}
}, {
"type": "Feature",
"properties": {
"description": "<br><h6><strong>Mirador de Tejeda</strong></h6><center><a href=\"https://goo.gl/maps/a9suHwdjvcfo51GV7\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>","icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.6142591, 27.9989345]
}
}, {
"type": "Feature",
"properties": {
"description": "<br><center><h6><strong>Lugarejos</strong></h6></center><center><a href=\"https://goo.gl/maps/s1vexTPjE1Q136jF8\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>","icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.6773581, 28.0395998]
}
}, {
"type": "Feature",
"properties": {
"description": "<center><br><h6><strong>Las Hoyas</strong></h6></center><center><a href=\"https://goo.gl/maps/qsHHHtQVLTacLQtQ8\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>",
"icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.6584952, 28.0321911]
}
}, {
"type": "Feature",
"properties": {
"description": "<br><h6><center><strong>Área Recreativa Tamadaba</strong></h6></center><center><a href=\"https://goo.gl/maps/uYma7xCZKLqmeRrGA\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>","icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.6885408, 28.0585012]
}
},
{
"type": "Feature",
"properties": {
"description": "<br><h6><strong>Degollada del Sargento</strong></h6><center><a href=\"https://goo.gl/maps/3YAoRHEu17UVVAFw7\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>","icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.6785625, 28.0290341]
}
},{
"type": "Feature",
"properties": {
"description": "<br><h6><strong>Cruz de María</strong></h6><center><a href=\"https://goo.gl/maps/JUNnqj7cAKaPcifSA\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>",
"icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.6896348, 28.0359589]
}

},{
"type": "Feature",
"properties": {
"description": "<br><h6><strong>Cuevas del Caballero</strong></h6><center><a href=\"https://goo.gl/maps/YsNsMExELtQezXG19\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>","icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [ -15.6196550, 28.0169390]
}

},{
"type": "Feature",
"properties": {
"description": "<br><h6><center><strong>Fuentefría</strong></center></h6><center><a href=\"https://goo.gl/maps/3VqpwsgQDDWre2ez5\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>","icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.6102032, 28.0247602]
}
},{
"type": "Feature",
"properties": {
"description": "<br><h6><center><strong>Cueva Corcho</strong></center></h6><center><a href=\" https://goo.gl/maps/zQEeu1wp6LjExYkY9\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>",
"icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.5885206, 28.0241610]
}

},{
"type": "Feature",
"properties": {
"description": "<br><center><h6><strong>Doña Paca</strong></h6></center><center><a href=\"https://goo.gl/maps/3QyMYJAqe8Yfa6ca8\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>",
"icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.6191691, 28.0498679 ]
}
},{
"type": "Feature",
"properties": {
"description": "<br><center><h6><strong>Galaz</strong></h6></center><center><a href=\"https://goo.gl/maps/5DSoHGBzMorZ4p4g9\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>","icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.5817765, 28.0172686]
}
},{
"type": "Feature",
"properties": {
"description": "<br><h6><center><strong>Pajaritos</strong></center></h6><center><a href=\"https://goo.gl/maps/jSDydBBtD8QyZWSK8\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>","icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [-15.6077651, 28.0362461]
}
},
 {
"type": "Feature",
"properties": {
"description": "<br><h6><strong>Fin del Mundo</strong></h6><center><a href=\"https://goo.gl/maps/kdPQpYBqcY7Hw5jNA\" target=\"_blank\" title=\"Opens in a new window\">Ver en googlemaps</a></center>",
"icon": "circle"
},
"geometry": {
"type": "Point",
"coordinates": [ -15.6966018,28.060903]
}
}]
}
},
"layout": {
"icon-image": "{icon}-11",
"icon-allow-overlap": true
}

});
 
// When a click event occurs on a feature in the places layer, open a popup at the
// location of the feature, with description HTML from its properties.
map.on('click', 'places', function (e) {
var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.description;
 
// Ensure that if the map is zoomed out such that multiple
// copies of the feature are visible, the popup appears
// over the copy being pointed to.
while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}
 
new mapboxgl.Popup()
.setLngLat(coordinates)
.setHTML(description)
.addTo(map);
});
 
// Change the cursor to a pointer when the mouse is over the places layer.
map.on('mouseenter', 'places', function () {
map.getCanvas().style.cursor = 'pointer';
});
 
// Change it back to a pointer when it leaves.
map.on('mouseleave', 'places', function () {
map.getCanvas().style.cursor = '';
});
});
</script>

  <!-- Contact -->
 <section class="call-to-action text-dark text-center" id="contacto">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-8 mx-auto">
                  <ul class="list-inline mb-0">
            <h3 class="mb-4"style ="color: #343A40">Síguenos en:</h3>
          <li class="list-inline-item mr-3">   
            <a href="https://instagram.com/fenixgrancanaria"" class="fa fa-instagram" style="font-size:48px;color:#343A40"></a>   
            </li>
          <li class="list-inline-item mr-3">
          <a href="https://twitter.com/fenixgrancan"" class="fa fa-twitter" style="font-size:48px;color:#343A40"></a>
            </li>

            <li class="list-inline-item">
              <a href="https://www.facebook.com/Fenix-102362407875246/" class="fa fa-facebook" style="font-size:48px;color:#343A40"></a>
              </a>
            </li>
          </ul><br>
        </div>
        <div class="col-xl-8 mx-auto">
         <h4 class="mb-4">o suscríbete para estar al día</h4>
         <form action="https://gmail.us5.list-manage.com/subscribe/post?u=fea7a8cf3005fc556d73f9315&amp;id=78f85116b2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>  
          <div class="form-row">
        <div class="col-xl-8 mx-auto">
              <div id="mc_embed_signup_scroll">

                <input type="email" value="" name="EMAIL" class="form-control form-control-lg" id="mce-EMAIL" placeholder="Introduce tu correo electrónico..." required>
              </div><br>
           <div class="col-xl-8 mx-auto">
               <div class="clear"> <button type="submit" class="btn btn-block btn-lg btn-primary" name="b_fea7a8cf3005fc556d73f9315_78f85116b2" tabindex="-1" value="">Empezar!</button></div>
            </div> 

          </div>  

        </div>
        </form><br>

  
        </div>
      </div>
    </div><br>
    
  </section><br><br>

           
           

  <!-- Portfolio Modals -->

  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
         <button type="button" class="close" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for La_Cilla in posts %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ La_Cilla.title }}</h3>
                <p class="text-muted">{{ La_Cilla.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ La_Cilla.image.url }}" alt="" style="width: 100%"> 
                <p align="justify">{{ La_Cilla.body }}</p>
                {% if La_Cilla.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ La_Cilla.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ La_Cilla.author }}</strong>,&nbsp;&nbsp;{{ La_Cilla.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
           <button type="button" class="close" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>  
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Fin_del_Mundo in posts9 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Fin_del_Mundo.title }}</h3>
                <p class="text-muted">{{ Fin_del_Mundo.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Fin_del_Mundo.image.url }}" alt="" style="width: 100%"> 
                <p align="justify">{{ Fin_del_Mundo.body }}</p>
                {% if Fin_del_Mundo.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Fin_del_Mundo.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Fin_del_Mundo.author }}</strong>,&nbsp;&nbsp;{{ Fin_del_Mundo.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                  Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal 3 -->
 <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <button type="button" class="close" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button> 
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
              {% for Degollada_de_Sargento in posts8 %}
                <!-- Project Details Go Here -->
                <h3 class="">{{ Degollada_de_Sargento.title }}</h3>
                <p class="text-muted">{{ Degollada_de_Sargento.place }}</p>   
                <img class="img-fluid d-block mx-auto" src="{{ Degollada_de_Sargento.image.url }}" alt="" style="width: 100%"> 
                <p align="justify">{{ Degollada_de_Sargento.body }}</p>
                {% if Degollada_de_Sargento.link %}
                    <a target="_blank" rel="noopener noreferrer" href="{{ Degollada_de_Sargento.link }}"><i class="fa fa-external-link-square" style="color:#212528"> </i> </a>Ver en mapa</p>
                    {% endif %}
                <p class="text-muted">&nbsp;Foto enviada por:&nbsp;&nbsp;<strong>{{ Degollada_de_Sargento.author }}</strong>,&nbsp;&nbsp;{{ Degollada_de_Sargento.created|date:"M d, Y"  }}</p>
                 <hr><br>
              {% endfor %}
             <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                  Cerrar</button>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

 <!-- Footer -->
   <footer class="footer bg" style="background-color: #212528">
    <div class="container">
      <div class="row ">
            <li class="list-inline-item">
              <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/gcflogo-min.webp" alt="" " style="width:  10%; border-radius: 4%;margin-right: 80" >

              <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/fred.png" alt="" " style="width: 25%; border-radius: 4%" >
              <img class="" src="https://elenacube.s3-eu-west-1.amazonaws.com/static/img/ayagaures-min+2.webp" alt="" " style="width: 10%; border-radius: 4%;margin-right: 70" >
              <p class="text-muted small mb-4 mb-lg-0">&copy; 2019 Parque Forestal CB. Todos los derechos reservados.</p>
            </li>
          </ul>     
        </div>
       </div> 
  </footer>
  <!-- Custom scripts for this template -->
  <script src="https://elenacube.s3-eu-west-1.amazonaws.com/static/js/agency.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>


</html>








<!-- Begin Mailchimp Signup Form -->



<!--End mc_embed_signup-->
